@import "../../styles/constants.scss";

.scrollShadowContainer {
    overflow: hidden;
    position: relative;
    $shadowSize: 16px;
    $shadowOffset: 24px;
    $shadowColor: rgba(0, 0, 0, 0.5);
    $leftShadow: inset $shadowSize 0 $shadowOffset (-$shadowOffset) $shadowColor;
    $rightShadow: inset (-$shadowSize) 0 $shadowOffset (-$shadowOffset) $shadowColor;
    .shadow {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: box-shadow 0.3s;
        pointer-events: none;
        box-shadow: none;
        z-index: $zIndex_table_thead_pinned + 50;
    }
    &.left .shadow.left {
        box-shadow: $leftShadow;
    }
    &.right .shadow.right {
        box-shadow: $rightShadow;
    }
}
