@import "../../styles/colors.scss";

.button{
    border-radius: 5px;
    font-size: 16px;
    font-family: monospace;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s;

    &.primary {
        background-color: $blue-400;
        color: $white-400;

        &:hover {
            background-color: $blue-500;
        }

        &.loading {
            opacity: 0.5;
        }
    }
    &.secondary {
        background-color: transparent;

        &:hover {
            background-color: $gray-200;
        }
    }

    &:not(.primary).outlined {
        border: 2px solid $blue-400;
        padding: 3px 8px;
    }

    &:disabled {
        cursor: not-allowed;
    }
    &.loading {
        cursor: wait;
    }
}