@import "../../styles/constants.scss";

.wrapper {
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    &.withTopPagination:not(.withButtomPagination) {
        grid-template-rows: auto 1fr;
    }
    &.withButtomPagination:not(.withTopPagination) {
        grid-template-rows: 1fr auto;
    }
    &.withTopPagination.withButtomPagination {
        grid-template-rows: auto 1fr auto;
    }
    gap: 8px;
    .paginationContainer {
        position: relative;
        z-index: 10;
        &.position_LEFT {
            justify-self: start;
        }
        &.position_CENTER {
            justify-self: center;
        }
        &.position_RIGHT {
            justify-self: end;
        }
        &.isFullscreen {
            padding: 0 24px;
        }
    }
    .content {
        position: relative;
        z-index: 5;
        align-self: stretch;
        overflow: auto;
    }
}
