.wrapper {
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    gap: 8px;
    .paginationContainer {
        position: relative;
        z-index: 10;
        &.position_LEFT {
            justify-self: start;
        }
        &.position_CENTER {
            justify-self: center;
        }
        &.position_RIGHT {
            justify-self: end;
        }
    }
    .content {
        position: relative;
        z-index: 5;
        align-self: stretch;
        overflow: auto;
    }
}