.container {
    width: fit-content;
    height: 300px;
    overflow-y: scroll;
    line-height: 110%;
    padding-right: 40px;
    resize: vertical;
    max-height: 600px;
    min-height: 150px;
}

.codeEditorText {
    background-color: rgb(39, 40, 43);
    color: rgb(238, 238, 238);
    padding: 20px;
    font-size: 16px;
}