$black-400: #1b1c1e;
$black-300: #2d2e30;

$gray-500: #657893;
$gray-400: #a0acbd;
$gray-300: #ced4dc;
$gray-200: #e9edf1;

$white-400: #f8f8f8;

$blue-500: #192c47;
$blue-400: #223c60;
$blue-300: #718aad;

$orange-400: #F5A225;
$orange-500: #8F5D12;

$green-500: #427338;
$green-400: #7ABB6D;

$red-500: #A03123;
$red-400: #FA6855;
