$black-400: #1b1c1e;
$black-300: #2d2e30;

$gray-500: #657893;
$gray-400: #a0acbd;
$gray-350: #c5cdd8;
$gray-300: #ced4dc;
$gray-260: #d8e0ec;
$gray-250: #e5eaf3;
$gray-200: #e9edf1;

$white-400: #f8f8f8;

$blue-500: #192c47;
$blue-400: #223c60;
// $blue-400: #223c6080;
$blue-300: #718aad;
$blue-200: #bed1ec;
$blue-150: #e6e9ec;
$blue-100: #eff1f5;

$orange-500: #8F5D12;
$orange-400: #F5A225;
$orange-200: #ffeed4;

$green-500: #427338;
$green-400: #7ABB6D;

$red-500: #A03123;
$red-400: #FA6855;
$red-250: #fcada2;
$red-200: #ffbfb7;

$zIndex_modal: 10000;

$zIndex_fullscreen_table_container: 1000;

$zIndex_mui_popover: $zIndex_modal + $zIndex_fullscreen_table_container + 500;

$zIndex_loading_cover: 2000;

$zIndex_table_thead: 1000;
$zIndex_table_thead_pinned: 1100;

$zIndex_table_tbody: 500;
$zIndex_table_tbody_pinned: 600;
