@import "./constants.scss";

$hover_transition: .3s;

.MuiSkeleton-root {
    &:not(.headingSkeleton)::after {
        background: linear-gradient(90deg, transparent, rgba(184, 184, 184, 0.5), transparent);
    }
    &.headingSkeleton {
        background-color: rgba(113, 138, 173, 0.5);
        &::after {
            background: linear-gradient(90deg, transparent, rgba(206, 212, 220, 0.5), transparent);
        }
    }
}

.ant-modal {
    padding-bottom: 200px;

    //For fullscreen mode
    &-root {
        .ant-modal-wrap,
        .ant-modal-mask {
            z-index: $zIndex_modal;
        }
    }
}

.MuiModal-root.MuiPopover-root.MuiMenu-root {
    z-index: $zIndex_mui_popover;
}

body {
    background-color: rgb(255, 241, 204);
}

.react-draggable {
    transition: opacity .15s;
    &.react-draggable-dragging {
        opacity: 0.1;
    }
}