@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@import "./constants.scss";

$hover_transition: 0.3s;

.MuiSkeleton-root {
    &:not(.headingSkeleton)::after {
        background: linear-gradient(90deg, transparent, rgba(184, 184, 184, 0.5), transparent);
    }
    &.headingSkeleton {
        background-color: rgba(113, 138, 173, 0.5);
        &::after {
            background: linear-gradient(90deg, transparent, rgba(206, 212, 220, 0.5), transparent);
        }
    }
}

.ant-modal {
    padding-bottom: 200px;

    //For fullscreen mode
    &-root {
        .ant-modal-wrap,
        .ant-modal-mask {
            z-index: $zIndex_modal;
        }
    }
}

.ant-select-dropdown {
    z-index: $zIndex_modal;
}

.ant-message,
.ant-popover {
    z-index: $zIndex_modal + 500;
}

.MuiModal-root.MuiPopover-root.MuiMenu-root {
    z-index: $zIndex_mui_popover;
}

body {
    background-color: rgb(255, 241, 204);
}

* {
    font-family: $main_font;
}

.react-draggable {
    transition: opacity 0.15s;
    &.react-draggable-dragging {
        opacity: 0.1;
    }
}
