.chipsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    .chip {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        max-width: 120px;
        overflow: hidden;
        .title {
            font-size: 12px;
            font-weight: 600;
        }
        .body {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; 
        }
    }
}