@import "../../styles/constants.scss";

.fullscreenContainer {
    padding: 0 24px;
    &.active {
        position: fixed;
        z-index: $zIndex_fullscreen_table_container;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        left: 0;
        background-color: white;
        padding: 24px 0;
        margin: 0;
    }
    &.active .tableContainer {
        padding: 0 24px;
        max-height: 100%;
        overflow-y: hidden;
        .table thead tr {
            position: sticky;
            top: 0;
        }
    }
    .tableContainer {
        min-width: 560px;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr;
        font-family: Arial, Helvetica, sans-serif;
        .activeIcon {
            color: $orange-400;
        }
        .topBar {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            margin-bottom: 12px;
            gap: 6px;
            .bar {
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                gap: 6px;
                .left, .right {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
                .left {
                    justify-content: flex-start;
                    .searchBar {
                        width: 100%;
                        max-width: 300px;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        align-items: center;
                        gap: 8px;
                        .slider {
                            overflow: hidden;
                            width: 0;
                            transition: width 0.3s linear;
                        }
                        &.open {
                            .slider {
                                width: 100%;
                            }
                        }
                    }
                }
                .right {
                    justify-content: flex-end;
                }
                .acitveIcon {
                    color: $orange-400;
                }
            }
            .title {
                font-size: 28px;
                font-weight: 700;
                margin-right: 8px;
                line-height: 32px;
            }
        }
        &.size_SMALL {
            .table {
                th,
                td {
                    padding: 4px 6px;
                }
                .actionCell {
                    padding: 2px 4px !important;
                }
            }
        }
        &.size_MEDIUM {
            .table {
                th,
                td {
                    padding: 8px 12px;
                }
            }
        }
        &.size_LARGE {
            .table {
                th,
                td {
                    padding: 12px 16px;
                }
            }
        }
        .table {
            width: 100%;
            height: 100%;
            border-spacing: 0;
            &.loading::after {
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                z-index: $zIndex_loading_cover;
                display: block;
                position: absolute;
                background-color: rgba(230, 230, 230, 0.5);
            }
            thead {
                tr {
                    font-size: 16px;
                    background-color: $blue-400;
                    position: sticky;
                    z-index: $zIndex_table_thead;
                    th {
                        color: $white-400;
                        line-height: 18px;
                        user-select: none;
                        background-color: $blue-400;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -1px;
                            bottom: 0;
                            width: 1px;
                            height: calc(100% - 20px);
                            transform: translateY(10px);
                            background-color: rgba($blue-200, .35);
                        }
                        &:not(.actionCell):hover {
                            background-color: $blue-500;
                            &:not(:first-child) {
                                border-left-color: $blue-500;
                            }
                        }
                        &:not(:first-child) {
                            border-left: 1px solid $blue-400;
                        }
                        &.skeletonFiller {
                            min-width: 150px;
                        }
                        &.sortable {
                            cursor: pointer;
                        }
                        &:not(.actionCell):not(.withSubcolumn) {
                            padding-right: 48px;
                        }
                        &:not(.actionCell) {
                            position: relative;
                            &.sortColumn {
                                color: $orange-400;
                            }
                            .sortingArrow {
                                position: absolute;
                                top: 50%;
                                right: 24px;
                                transform: translate(50%, -50%);
                            }
                        }
                        &:not(.withSubcolumn) {
                            text-align: left;
                        }
                        &.withSubcolumn {
                            text-align: center;
                        }
                        &.pin,
                        &.actionCell.withLeftPin {
                            position: sticky;
                            z-index: $zIndex_table_thead_pinned;
                            &.lastPinnedLeftColumn,
                            &.lastPinnedRightColumn {
                                box-shadow: 0 0 8px 8px rgba(black, 0.15);
                            }
                            &.lastPinnedLeftColumn {
                                clip-path: polygon(0% 0%, 120% 0%, 120% 100%, 0% 100%);
                            }
                            &.lastPinnedRightColumn {
                                clip-path: polygon(-20% 0%, 100% 0%, 100% 100%, -20% 100%);
                            }
                        }
                        &.actionCell.withLeftPin {
                            left: 0;
                        }
                    }
                }
            }
            tbody tr {
                td {
                    line-height: 18px;
                    background-color: $white-400;
                    transition: background .2s;
                    &:not(.actionCell) {
                        text-align: left;
                        vertical-align: top;
                    }
                    z-index: $zIndex_table_tbody;
                    &.pin {
                        position: sticky;
                        z-index: $zIndex_table_tbody_pinned;
                        &.lastPinnedLeftColumn,
                        &.lastPinnedRightColumn {
                            box-shadow: 0 0 8px 8px rgba(black, 0.15);
                        }
                        &.lastPinnedLeftColumn {
                            clip-path: polygon(0% 0%, 120% 0%, 120% 100%, 0% 100%);
                        }
                        &.lastPinnedRightColumn {
                            clip-path: polygon(-20% 0%, 100% 0%, 100% 100%, -20% 100%);
                        }
                    }
                    &:not(:first-child) {
                        border-left: 1px solid $gray-300;
                    }
                    // &.pin.left {
                    //     border-right: 1px solid $gray-300;
                    // }
                    &.numericField {
                        text-align: right;
                    }
                    &.centeredField {
                        text-align: center;
                    }
                }
                &:nth-child(even) td {
                    background-color: $blue-100;
                }
                td.sortColumn {
                    background-color: $gray-250;
                }
                &:nth-child(even) td.sortColumn {
                    background-color: $gray-260;
                }
                &:hover td:not(.errorContent) {
                    background-color: $blue-150;
                    &.sortColumn {
                        background-color: $gray-300;
                    }
                }
                &.selected {
                    td {
                        background-color: $gray-350;
                    }
                    &:hover td {
                        background-color: $gray-400;
                    }
                    &.deletingError {
                        td {
                            background-color: $red-200;
                        }
                        &:hover td {
                            background-color: $red-250;
                        }
                    }
                }
                .emptyBoxImg {
                    width: 150px;
                    height: 100%;
                    min-height: 165px;
                    background-image: url("../../pictures/open_empty_box.png");
                    background-repeat: no-repeat;
                    background-position: bottom center;
                    background-size: contain;
                    .label {
                        text-align: center;
                    }
                }
            }
            &.withLeftShadow {
                thead tr th {
                    &.lastPinnedLeftColumn {
                        border-right: 1px solid $blue-400;
                        &:hover {
                            border-right-color: $blue-500;
                        }
                    }
                    &.firstColumn {
                        border-left: none;
                    }
                }
                tbody tr td {
                    &.lastPinnedLeftColumn {
                        border-right: 1px solid $gray-300;
                    }
                    &.firstColumn {
                        border-left: none;
                    }
                }
            }
            .loadingError {
                height: 100%;
                min-height: 165px;
                user-select: none;
            }
            th.actionCell,
            td.actionCell {
                padding: 4px !important;
                text-align: center;
            }
            td.actionCell .actionButton {
                color: $black-300;
                padding: 2px;
            }
            th.actionCell {
                background-color: $blue-400;
            }
        }
    }
}
